
/* *{
    border: 1px solid red;
} */
/* Home Page */
a{
    text-decoration: none;
}
.poster{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.poster .img-poster{
    width:1300px;
    height: 300px;
}
.content{
    font-family: "Blinker", sans-serif;
}
.card-list{
    width: 150px;
    height: 300px;
    cursor: pointer;
    transition: all 0.3s;
}
.card-list:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    margin-top: 3px;
    }
.card-list img{
    width: 130px;
    height: 120px;
}

.card-list .title-produk, .price{
    font-weight: 500;
    margin-left: 10px;
    text-align: center;
    margin-top: 7px;
}
.title-produk{
    color: black;
}
.price{
    color: green;
}

.card-list .cart-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 255, 21);
    /* margin-left: 40px; */
    color: rgb(0, 255, 21);
    /* width: 250px; */
}
.slick-next:before, .slick-prev:before {
color: black !important;
}

.content .title-content{
    font-family: "Blinker", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-left: 35px;
    margin-bottom: 20px;
}
.content{
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    border-radius: 15px;
    margin-top: 2rem;
    padding-top: 10px;
    padding-bottom: 2px;
}

.container-beranda {
    background-color: rgb(172, 168, 168);
}

.nopad-beranda {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 2px;
}

.container-beranda .nopad-beranda .p-page {
    margin-top: 12px;
    color: white;
}

.container-beranda .nopad-beranda .link-beranda {
    text-decoration: none;
    color: white;
    margin-left: 3px;
}

.container-beranda .nopad-beranda .link-beranda:hover {
    text-decoration: none;
    color: rgb(104, 194, 239);
    margin-left: 3px;
}



.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    border-right: 8px solid #e0e0e0;
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
  }


  .sidebar a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 16px;
    text-decoration: none;
  }

  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }

  .sidebar a:hover:not(.active) {
    background-color: #ee5f1d;
    color: white;
    cursor: pointer;
  }


  div.content {
    margin-left: 200px;
    padding: 1px 16px;
  }

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }


  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
