
/* *{
    border: 1px solid red;
} */
/* Home Page */

*{
    font-family: "Blinker", sans-serif;
}

a{
    text-decoration: none;
}

.dropdown-item:hover{
    background-color:#3795BD;

}
.poster{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.poster .img-poster{
    width:1300px;
    height: 300px;
}
.content{
    font-family: "Blinker", sans-serif;
}
.card-list{
    width: 150px;
    height: 300px;
    cursor: pointer;
    transition: all 0.3s;
}
.card-list:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    margin-top: 3px;
    }
.card-list img{
    width: 130px;
    height: 120px;
}

.card-list .title-produk, .price{
    font-weight: 500;
    margin-left: 10px;
    text-align: center;
    margin-top: 7px;
}
.title-produk{
    color: black;
}
.price{
    color: #3795BD;
}

.card-list .cart-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #4E31AA;
    /* margin-left: 40px; */
    color: rgb(249, 255, 249);
    /* width: 250px; */
}
.slick-next:before, .slick-prev:before {
color: black !important;
}

.content .title-content{
    font-family: "Blinker", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-left: 25px;
    margin-bottom: 20px;
}
.content{
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    border-radius: 15px;
    margin-top: 2rem;
    padding-top: 10px;
    padding-bottom: 2px;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    border-right: 8px solid #e0e0e0;
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
  }


  .sidebar a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 16px;
    text-decoration: none;
    
  }

  .sidebar a.active {
    background-color: #4E31AA;
    color: white;
  }

  .sidebar a:hover:not(.active) {
    background-color: #3795BD;
    color: white;
    cursor: pointer;
  }


  div.content {
    margin-left: 200px;
    padding: 1px 16px;
  }
/* Detail */
.detail-product-img .col-md-4 .img-detail{
    width: 400px;
    height: 400px;
    margin-top: 3rem;
}
.section-img{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.section-img .img-support{
    width: 100px;
    height: 100px;
}
.detail-product{
    font-family: "Blinker", sans-serif;
    height: 10rem;
}
.detail-product
{
    background-color: #ffffff;
    height: 15rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    margin-top: 3rem;
}
.title-product, .ready-stock, .price-product, .quantity, .btn-productCart{
    margin-left: 4rem;
}
.detail-product .title-product{
    font-size: 23px;
    font-weight: 600;
}
.detail-product .ready-stock{
    color: rgb(155, 155, 155);
}
.detail-product .price-product{
    font-size: 20px;
    font-weight: 600;
}
.btn-productCart a{
    margin-top: 1rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #3795BD;
    width: 8rem;
}
.detail-description{
    background-color: #ffffff;
    height: 15rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    margin-top: 2rem;
    font-family: "Blinker", sans-serif;

}
.description-title, .text-description{
    margin-left: 4rem;
    margin-right: 4rem;
}
.detail-description .description-title{
    font-size: 20px;
    font-weight: 600;
}
.detail-description .text-description{
    word-wrap: break-word;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #4E31AA;
    color: #fff;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #3795BD;
    color:white;
}

.total {
    text-align: right;
    font-size: 1.2em;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4E31AA;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.btn:hover {
    background-color: #3795BD;
    color:white;
}


.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top:20px;
    margin-left: 7px;

}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 4px;
}

.logo-text {
    color: #0f0f0f;
    font-size: 13px;
    font-weight: bold;
}

.sidebar-admin {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #19e6bd;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    border-right: 8px solid #e0e0e0;
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);

  }

  @media screen and (max-width: 700px) {
    .title-produk, .price{
        text-align: center;
        margin-top: 7px;
    }

  }


  @media screen and (max-width: 400px) {

  }



